
# Database
database.host=localhost
database.name=wikiData
database.port=3306
database.user=root
database.password=

# Neo4j
neo4j.url=http://localhost:7474/db/data/

# Lucene
lucene.index.en=
lucene.index.zh=

# Graph
#   Path to the CSV file with en keywords
graph.en_keywords.path=
graph.en_keywords.column=2
#   Path to the CSV file with zh keywords
graph.zh_keywords.path=
graph.zh_keywords.column=2
#   Control how wiki pages are searched with the keywords. Options are:
#       1: Exact Title Match
#       2: Partial Title Match
#       4: Partial Content Match
graph.match_type=1


